<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gallery</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.11.3/css/lightbox.css" integrity="sha512-Woz+DqWYJ51bpVk5Fv0yES/edIMXjj3Ynda+KWTIkGoynAMHrqTcDUQltbipuiaD5ymEo9520lyoVOo9jCQOCA==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <style>
        body {
            background-color: black;
        }
        
        .image-thumbnail{
            width: 200px;
            object-fit: cover;
        }

        .list-group-item {
            background-color: #444444;
            border-color: #444444;
        }

        .list-group-item li {
            background-color: #444444;
            border-color: #444444;
        }

        .list-group-item a{
            text-decoration: none;
            color: #EDEDED;
        }

        .card {
            background-color: #444444;
            color: #EDEDED;
        }

        .card-header {
            background-color: #171717;
            color: #EDEDED;
        }

        .gallery-btn {
            background-color: #DA0037;
            color: #EDEDED;
            border-color: #444444;
        }
    </style>
</head>
<body class="m-5">

    <div class="container">
        <div class="row">
            <div class="col-md-2">

                {% if request.user.is_authenticated %}
                    <p>Hello, {{request.user}}</p>
                {% endif %}
                <div class="card">
                    <div class="card-header">
                      Categories
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            <a href="{% url 'gallery' %}">All</a>
                        </li>
                        {% for category in categories %}
                        <li class="list-group-item">
                            <a href="{% url 'gallery' %}?category={{category.name}}">{{category.name}}</li></a>
                        {% endfor %}

                        <a href="{% url 'add' %}" class="gallery-btn btn btn-secondary btn-block btn-sm m-1">Add Photo</a>

                        {% if request.user.is_authenticated %}
                        <a href="{% url 'logout' %}" class="gallery-btn btn btn-secondary btn-block btn-sm m-1">Logout</a>
                        {% else %}
                        <a href="{% url 'login' %}" class="gallery-btn btn btn-secondary btn-block btn-sm m-1">Login</a>
                        {% endif %}
                    </ul>
                </div>

            </div>
            <div class="col-md-9">
                <div class="row g-3 infinite-container" data-masonry='{"percentPosition": true }'>
                    {% for photo in photos reversed %}
                    <div class="col-md-4 infinite-item">
                        <div>
                            <!--<a href="{% url 'photo' photo.id %}">-->
                                <a href="{{photo.image.url}}" data-lightbox="{{photo.image}}" data-title="{{photo.submitter}}"><img src="{{photo.image.url}}" class="card-img" alt="..."></a>
                            <!--</a>-->
                            <div class="card-body">{{photo.submitter}}</div>
                            <!--
                            <div class="card-body">
                              <small>Category: {{photo.category.name}}</small>
                            </div>
                            <a href="{% url 'photo' photo.id %}" class="btn btn-outline-dark btn-sm m-1">View</a>-->
                        </div>
                    </div>
                    {% endfor %}

                    {% if photos.has_next %}
                    <a class="infinite-more-link" href="?page={{ photos.next_page_number }}">More</a>
                    {% endif %}

                </div>


                <!--<div class="row">-
                    <nav aria-label="Page navigation example">
                    {% if photos.has_other_pages %}
                        <ul class="pagination">
                            {% if photos.has_previous %}
                                <li class="page-item"><a href="?page={{photos.previous_page_number}}">&laquo;</a></li>
                            {% else %}
                                <li class="disabled"><span>&laquo;</span></li>
                            {% endif %}
                            {% for i in photos.paginator.page_range %}
                                {% if photos.number == i %}
                                    <li class="page-item active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                                {% else %}
                                    <li><a href="?page={{ i }}">{{ i }}</a></li>
                                {% endif %}
                            {% endfor %}
                            {% if photos.has_next %}
                                <li><a href="?page={{ photos.next_page_number }}">&raquo;</a></li>
                            {% else %}
                                <li class="disabled"><span>&raquo;</span></li>
                            {% endif %}
                        </ul>
                    {% endif %}

                <!--</div>-->
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/masonry-layout@4.2.2/dist/masonry.pkgd.min.js" integrity="sha384-GNFwBvfVxBkLMJpYMOABq3c+d3KnQxudP/mGPkzpZSTYykLBNsZEnG2D9G/X/+7D" crossorigin="anonymous" async></script>
    <script src="https://code.jquery.com/jquery-3.6.3.min.js" integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.11.3/js/lightbox.min.js" integrity="sha512-k2GFCTbp9rQU412BStrcD/rlwv1PYec9SNrkbQlo6RZCf75l6KcC3UwDY8H5n5hl4v77IDtIPwOk9Dqjs/mMBQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/jquery.waypoints.js" integrity="sha512-ZKNVEa7gi0Dz4Rq9jXcySgcPiK+5f01CqW+ZoKLLKr9VMXuCsw3RjWiv8ZpIOa0hxO79np7Ec8DDWALM0bDOaQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/shortcuts/infinite.min.js" integrity="sha512-m3kH21aSkKrGeoqdb7IP7rlu1VcQee5VrjLQepeSOp5M05Wl6HwqJ1Jwo14EHOuBg77pkAlBtQuVMPVeXzfueg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script>
        lightbox.option({
          'disableScrolling': true,
          'fadeDuration': 10,
          'imageFadeDuration': 10,
        })
    </script>
    
    <script>
        var infinite = new Waypoint.Infinite({
          element: $('.infinite-container')[0],
          append: '.infinite-container'
        });
      </script>
</body>
</html>